In [142]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [143]:
def remove_prefix(text, prefix):
    if text.startswith(prefix):
        return text[len(prefix):]
    return text  # or whatever
def removesuffix(self: str, suffix: str, /) -> str:
    # suffix='' should not call self[:-0].
    if suffix and self.endswith(suffix):
        return self[:-len(suffix)]
    else:
        return self[:]

In [144]:
HTMLFileToBeOpened = open("lab_full_ifrs-en_2021-03-24.xml", "r")
  
# Reading the file and storing in a variable
contents = HTMLFileToBeOpened.read()

In [145]:
beautifulSoupText = BeautifulSoup(contents, 'lxml')
# g=beautifulSoupText.find_all('ix:nonfraction', contextref=True, limit=56)

In [146]:
g=beautifulSoupText.find_all(['link:label'])

In [147]:
L1=[]
for i in range(len(g)):
    L1.append(g[i].string)

L2=[]
for i in range(len(g)):
    L2.append(g[i].get('id'))

In [148]:
df_tag= pd.DataFrame({'elt':L1,'IFRS_tag':L2})
print(df_tag.shape)

(5876, 2)

In [149]:
df_tag.head()

,elt,IFRS_tag
0,Accounting profit,ifrs-full_AccountingProfit_label
1,Accumulated increase (decrease) in fair value ...,ifrs-full_AccumulatedChangesInFairValueOfFinan...
2,Accumulated increase (decrease) in fair value ...,ifrs-full_AccumulatedChangesInFairValueOfLoanO...
3,"Acquisitions through business combinations, bi...",ifrs-full_AcquisitionsThroughBusinessCombinati...
4,"Acquisitions through business combinations, in...",ifrs-full_AcquisitionsThroughBusinessCombinati...

In [150]:
print(len(df_tag['IFRS_tag'].unique()))

5876

#### Check if a fin element contains a fin keyword :

In [175]:
s=df_tag['IFRS_tag']

In [180]:
searchfor = ['CurrentDerivativeFinancialAssets']
s[s.str.contains('|'.join(searchfor))]

2273    ifrs-full_CurrentDerivativeFinancialAssets_label
Name: IFRS_tag, dtype: object

In [153]:
df_tag.to_csv ('df_lab_IFRS_full_2021.csv', index = False, header=True)

In [154]:
import sys
sys.getsizeof(searchfor)

64

In [156]:
import re    
# tokens = re.findall('\s+', str(searchfor))
# c=0
# for i in range(0, len(tokens)) :
#     c=c+1
# L.append(c)

In [159]:
L=[]
for i in range(len(df_tag)):
    tokens = re.findall('\s+', df_tag['elt'][i])
    c=0
    for i in range(0, len(tokens)) :
            c=c+1
    L.append(c)

In [161]:
df_tag['num_spaces']=L

In [165]:
df_abrv=df_tag[df_tag['num_spaces']<=1]

In [136]:
searchfor = ['Goodwill']
s[s.str.contains('|'.join(searchfor))]

405                                              Goodwill
851     Goodwill expected to be deductible for tax pur...
868     Goodwill derecognised without having previousl...
979                                     Goodwill [member]
4615           Goodwill recognised as of acquisition date
5299    Goodwill derecognised without having previousl...
5455                      Goodwill at beginning of period
5497                            Goodwill at end of period
Name: elt, dtype: object

In [137]:
df_tag[df_tag['elt']=='Goodwill']

          elt                  IFRS_tag  num_spaces
405  Goodwill  ifrs-full_Goodwill_label        3150

In [166]:
df_abrv.head()

,elt,IFRS_tag,num_spaces
0,Accounting profit,ifrs-full_AccountingProfit_label,1
35,Administrative expenses,ifrs-full_AdministrativeExpense_label,1
46,Assets,ifrs-full_Assets_label,0
47,Assets [abstract],ifrs-full_AssetsAbstract_label,1
52,Bank overdrafts,ifrs-full_BankOverdraftsClassifiedAsCashEquiva...,1

In [170]:
df_abrv=df_abrv.sort_values('elt', ascending=True)

In [174]:
df_abrv[df_abrv['elt']=='Trade receivables']

                    elt                          IFRS_tag  num_spaces
1437  Trade receivables  ifrs-full_TradeReceivables_label           1